
.banner_text {
    text-align: center;
    color: white;
}

div.banner {
    background-color: black;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
}

#searchBtn {
    padding-top: 20px;
    padding-bottom: 20px;
}

#showAllBtn_row {
    padding-top: 50px;
    padding-bottom: 20px;
}

#footer {
    background-color: black;
    padding-top: 40px;
    padding-bottom: 20px;
}

#xfilesAudio {
    padding-top:100px;
}